body {
    overflow: scroll;
    background-color: #20307c;
}

nav {
    background-image: linear-gradient(135deg, rgba(70, 103, 254, 1), rgba(70, 103, 254, 0.1), rgba(255, 255, 255, 0));
    position: fixed;
    left: 0;
    top: 0;
    width: 50vw;
}

nav ul {
    list-style: none;
    
}